/* 메인_이벤트 */
.eventfooter {
  position: relative;
  height: 100vh;
  background: url("../images/main5.jpg") no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.event .inner {
  padding-top: 5%;
}
.event-title {
  color: #fff;
  font-size: 2rem;
  padding: 10px 0px 30px 0px;
}
.swiper {
  width: 100%;
  /* height: 500px; */
}
@media all and (max-width: 1680px){
  
}
@media all and (max-width: 1280px){
  
}
@media all and (max-width: 1024px){
  
}
@media all and (max-width: 760px){
  
}
@media all and (max-width: 480px){
  
}