/* 육지동물 소개 */
.landanimal {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/555.jpg") no-repeat center;
  background-size: cover;
}
ul,
li {
  list-style: none;
}
.land-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.15)
  );
}
#banner {
  background: none;
  border: none;
  width: 100%;
  padding-top: 45px;
}
#banner .bx-wrapper {
  overflow: visible !important;
  background: none;
  border: none;
  box-shadow: none;
}
/* 알파카움직임 */
.alpaka_gif {
  width: 100%;
  height: 100%;
  right: 32px;
  top: 190px;
  position: absolute;
  width: 80px;
  height: 100px;
  background-color: none;
  animation: box-ani 0.3s infinite linear forwards; /* 애니메이션 적용 */
  z-index: 999;
}
.achover {
  display: none;
}
.alpaka_gif:hover .achover {
  display: block;
}
.alpaka_gif:hover img {
  display: none;
}
.alpaka_gif img {
  width: 80px;
  height: 100px;
}
@keyframes box-ani {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0px, 3px);
  }
}
.item-img a {
  width: 100%;
  height: 100%;
  z-index: 9999;
}
/* ----------- */
.banner_inner {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.banner-text {
  text-align: center;
  width: 100%;
  margin-top: 100px;
  font-weight: 500;
  user-select: none;
  font-family: "Noto Sans KR", sans-serif;
}
.banner-text h2 {
  width: 100%;
  text-align: center;
  letter-spacing: -5.5px;
  font-weight: 600;
  font-size: 70px;
}
.banner-text p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  /* font-weight: 600; */
  width: 100%;
}
.banner_list {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: relative;
}
.banner_list::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  z-index: 1;
}
.banner_list::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  z-index: 1;
}
/* -----------------호버 영상 */
#slide_hide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.slide_alpaca:hover {
  background: url("../images/alpa.gif") no-repeat center;
  background-size: cover;
}
.slide_alpaca:hover img {
  opacity: 0;
}
.slide_racoon:hover {
  background: url("../images/raccooo.gif") no-repeat center;
  background-size: cover;
}
.slide_racoon:hover img {
  opacity: 0;
}
.slide_pig:hover {
  background: url("../images/pig.gif") no-repeat center;
  background-size: cover;
}
.slide_pig:hover img {
  opacity: 0;
}
.slide_dog:hover {
  background: url("../images/dog.gif") no-repeat center;
  background-size: cover;
}
.slide_dog:hover img {
  opacity: 0;
}
.slide_toko:hover {
  background: url("../images/toko.gif") no-repeat center;
  background-size: cover;
}
.slide_toko:hover img {
  opacity: 0;
}
.slide_samak:hover {
  background: url("../images/desert.gif") no-repeat center;
  background-size: cover;
}
.slide_samak:hover img {
  opacity: 0;
}
.slide_copi:hover {
  background: url("../images/capybara.gif") no-repeat center;
  background-size: cover;
}
.slide_copi:hover img {
  opacity: 0;
}
.slide_hong:hover {
  background: url("../images/hong.gif") no-repeat center;
  background-size: cover;
}
.slide_hong:hover img {
  opacity: 0;
}
.slide_namu:hover {
  background: url("../images/namu.gif") no-repeat center;
  background-size: cover;
}
.slide_namu:hover img {
  opacity: 0;
}
.slide_wang:hover {
  background: url("../images/wang.gif") no-repeat center;
  background-size: cover;
}
.slide_wang:hover img {
  opacity: 0;
}
.slide_rabbit:hover {
  background: url("../images/rabiit.gif") no-repeat center;
  background-size: cover;
}
.slide_rabbit:hover img {
  opacity: 0;
}
.slide_cat:hover {
  background: url("../images/meerkat.gif") no-repeat center;
  background-size: cover;
}
.slide_cat:hover img {
  opacity: 0;
}
.slide_cheong:hover {
  background: url("../images/cheong.gif") no-repeat center;
  background-size: cover;
}
.slide_cheong:hover img {
  opacity: 0;
}
/* --------------------- */
.slide_list {
  width: 100%;
  height: 100%;
}
.slide_list li {
  transition: all 0.3s;
  background: 0;
}
.slide_list li:hover {
  transform: translateY(-18px);
  /* cursor: pointer; */
}
.slide_list li:hover dl {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
  /* cursor: pointer; */
}
.slide_list li span {
  display: block;
  height: 28rem;
  overflow: hidden;
  position: relative;
}
.slide_list li span img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.slide_list li dl {
  background-color: rgba(255, 255, 255, 0.75);
  color: #fff;
  padding: 25px;
  height: 100px;
  margin-top: -15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slide_list li dl:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}
.slide_list li dl:hover dt {
  color: #fff;
}
.slide_list li dl:hover dd {
  color: #fff;
}
.slide_list li dl:hover dt::after {
  background-color: #fff;
}
.slide_list li dl dt {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
.slide_list li dl dt::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #333;
  margin-top: 6px;
}
.slide_list li dl dd {
  font-size: 14px;
  margin-top: 10px;
  color: #444;
}
/*  이전/다음 버튼 커스텀 */
.bx-next:hover {
  background: none;
}
/* -------------------움직이는 알파카 팝업 */
.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 12px;
  clip: rect(1px, 1px, 1px, 1px);
}
.container .img-popup {
  position: absolute;
  top: 18%;
  right: 9%;
  width: 17rem;
  height: 6rem;
  background-color: rgba(250, 250, 250, 0.8);
  visibility: hidden;
  border: 2px double #aab898;
  opacity: 0;
  transition: all 0.5s;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .img-popup.active {
  visibility: visible;
  opacity: 1;
}
.container .img-popup .popup-inner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.popup-inner p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.popup-inner .popup-txt {
  color: #000;
  padding: 5%;
  margin-top: 22%;
  width: 100%;
  height: 100%;
}
.container .img-popup .popup-inner .close-btn {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  position: absolute;
  top: 37%;
  left: 104%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(250, 250, 250, 0.8);
  border: 2px solid #69745b;
  justify-content: center;
  align-items: center;
  color: #69745b;
  font-size: 18px;
}
.container .img-popup .popup-inner .close-btn:hover {
  background-color: #69745b;
  color: #fff;
}

.container .img-popup .popup-inner .close-btn i {
  transition: all 0.3s;
}
.container .img-popup .popup-inner .close-btn:hover i {
  transform: rotate(180deg);
}
@media (max-width: 991px) {
  .container .img-popup .popup-inner {
    width: 90%;
  }
  .container .img-popup .popup-inner .close-btn {
    width: 50px;
    height: 50px;
    top: -26px;
  }
  .container .img-popup .popup-inner .close-btn img {
    width: 20px;
  }
}
/* 반응형 */
@media all and (max-width: 1680px) {
  #ag_2 {
    left: 88%;
  }
  .container .img-popup {
    position: absolute;
    top: 15%;
    left: 68%;
    width: 15rem;
    height: 5rem;
    background-color: rgba(250, 250, 250, 0.8);
    visibility: hidden;
    border: 2px double #aab898;
    opacity: 0;
    transition: all 0.5s;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contents2 {
    right: 50%;
  }
}
@media all and (max-width: 1650px) {
  #contents2 {
    right: 60%;
  }
}
@media all and (max-width: 1610px) {
  #contents2 {
    margin-left: 10%;
  }
}
@media all and (max-width: 1450px) {
  #contents2 {
    margin-left: 5%;
  }
}
@media all and (max-width: 1292px) {
  #ag_2 {
    left: 82%;
  }
  #contents2 {
    margin-left: 10%;
  }
  .container .img-popup {
    position: absolute;
    top: 10%;
    left: 73%;
    width: 15rem;
    height: 5rem;
    background-color: rgba(250, 250, 250, 0.8);
    visibility: hidden;
    border: 2px double #aab898;
    opacity: 0;
    transition: all 0.5s;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 1024px) {
  #ag_2 {
    left: 85%;
    top: 22%;
  }
  #contents2 {
    margin-left: 2%;
  }
  .container .img-popup {
    position: absolute;
    top: 9%;
    left: 78%;
    width: 9rem;
    height: 5rem;
    background-color: rgba(250, 250, 250, 0.8);
    visibility: hidden;
    border: 2px double #aab898;
    opacity: 0;
    transition: all 0.5s;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-inner p {
    margin-top: 14px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    width: 100%;
    text-align: center;
  }
  .container .img-popup .popup-inner .close-btn {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    position: absolute;
    top: 38%;
    left: 110%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #69745b;
    justify-content: center;
    align-items: center;
    color: #69745b;
    font-size: 18px;
  }
  #contents2 {
    left: 200px;
  }
}
@media all and (max-width: 1575px) {
  #contents2 {
    right: 85%;
  }
  .alpaka_gif img {
    margin-right: 100px;
  }
}
@media all and (max-width: 1480px) {
  #contents2 {
    left: 80%;
  }
}
@media all and (max-width: 1297px) {
  #contents2 {
    margin-left: 13%;
  }
}
@media all and (max-width: 1070px) {
  .banner-text p {
    margin-top: 10px;
  }
  #contents2 {
    margin-left: 2%;
  }
}
@media all and (max-width: 820px) {
  .banner-text p {
    margin-top: 10px;
  }
  #contents2 {
    margin-left: 12%;
    top: 105%;
  }
}
@media all and (max-width: 795px) {
  .banner-text p {
    margin-top: 10px;
  }
  #contents2 {
    margin-left: 12%;
  }
}
@media all and (max-width: 760px) {
  .banner-text p {
    margin-top: 10px;
  }
  #ag_2 {
    left: 84%;
    top: 24%;
  }
  #contents2 {
    margin-left: 10%;
    left: -20;
  }
  .alpaka_gif img {
    width: 60px;
    height: 80px;
  }
  .container .img-popup {
    position: absolute;
    top: 36%;
    left: 73%;
    width: 8rem;
    height: 4rem;
    background-color: rgba(250, 250, 250, 0.8);
    visibility: hidden;
    border: 2px double #aab898;
    opacity: 0;
    transition: all 0.5s;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-inner p {
    margin-top: 10px;
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    width: 100%;
    text-align: center;
  }
  .container .img-popup .popup-inner .close-btn {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    position: absolute;
    top: 38%;
    left: 110%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(250, 250, 250, 0.8);
    border: 2px solid #69745b;
    justify-content: center;
    align-items: center;
    color: #69745b;
    font-size: 18px;
  }
}
@media all and (max-width: 748px) {
  .banner-text p {
    margin-top: 10px;
  }
  .banner-text h2 {
    width: 100%;
    text-align: center;
    letter-spacing: -5.5px;
    font-size: 60px;
  }
  .banner-text p {
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }
}
@media all and (max-width: 670px) {
  .banner-text p {
    margin-top: 10px;
  }
  .container .img-popup {
    position: absolute;
    top: 36%;
    left: 70%;
    width: 8rem;
    height: 4rem;
    background-color: rgba(250, 250, 250, 0.8);
    visibility: hidden;
    border: 2px double #aab898;
    opacity: 0;
    transition: all 0.5s;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-inner p {
    margin-top: 10px;
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    width: 100%;
    text-align: center;
  }
  .container .img-popup .popup-inner .close-btn {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    position: absolute;
    top: 110%;
    left: 70%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(250, 250, 250, 0.8);
    border: 2px solid #69745b;
    justify-content: center;
    align-items: center;
    color: #69745b;
    font-size: 18px;
  }
  .bx-controls-direction {
    display: none;
  }
}
@media all and (max-width: 686px) {
  .banner-text p {
    margin-top: 10px;
  }
}
@media all and (max-width: 750px) {
  .banner-text p {
    margin-top: 10px;
  }
}
@media all and (max-width: 550px) {
  .banner-text p {
    margin-top: 10px;
  }
  #popup {
    width: 550px;
    height: 100%;
    position: fixed;
  }
}
@media all and (max-width: 480px) {
  .banner-text h2 {
    width: 100%;
    text-align: center;
    letter-spacing: -5.5px;
    font-size: 50px;
  }
  .banner-text p {
    font-size: 13px;
    text-align: center;
    width: 100%;
  }
  #popup {
    position: fixed;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.85);
    margin-top: -80px;
  }
  #contents2 {
    margin-left: 70px;
  }
}
@media all and (min-width: 200px) {
  .banner_list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-text {
    width: 100%;
  }
  #popup {
    display: none;
    position: absolute;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.85);
    margin-top: -80px;
  }
}
/*팝업창*/
#popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 80%;
  background: rgba(0, 0, 0, 0.85);
  margin-top: -80px;
  z-index: 9999999999;
}
#popmenu {
  position: absolute;
  left: 10%;
  top: 14%;
  width: 80%;
  height: 110%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.popmenu-flex {
  position: absolute;
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#popmenu h4 {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  padding-top: 30px;
  text-shadow: 3px 5px 3px #000;
  color: #ffffff;
}
.popmenu-ani h4:hover {
  color: #000;
}
#popmenu ul li {
  font-size: 14px;
  line-height: 25px;
  width: 100%;
  text-shadow: 1px 3px 1px #000;
}
.popmenu-ani {
  height: 310px;
  width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.border-box {
  width: 80px;
  height: 4px;
  background-color: #fff;
  z-index: 999999;
}
#popmenu-ani-2 {
  border-right: 1px dotted #fff;
  border-left: 1px dotted #fff;
}
#popmenu-ani-3 {
  border-right: 1px dotted #fff;
}
.exit {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  background: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}
.ani-padding {
  padding-top: 10px;
}
.exit:hover {
  background-color: #fff;
  color: #000;
}
/* 팝업뒷배경 */
.ani-back {
  position: absolute;
  width: 25%;
  height: 100%;
  margin-top: -40px;
}
.ani-back img {
  width: 50px;
  height: 50px;
}
.ani-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ani-back2 img {
  width: 330px;
  height: 418px;
  opacity: 10%;
  display: none;
}
/*본문내용*/
#contents2 {
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
  letter-spacing: 0.5px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  margin-top: -650px;
  left: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
#contents2:hover {
  color: #333;
  background: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  border: 2px dotted #333;
}
