/* 심해어 소개 */
.deepseafish {
  position: relative;
  height: 100vh;
  background: url("../images/main4_deepsea2_img.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}

/* 물고기 애니메이션 */
@keyframes swimming1 {
  0% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-400px);
  }

  50% {
    transform: scaleX(-1) translateX(400px);
  }

  95% {
    transform: scaleX(-1) translateX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
@keyframes swimming2 {
  0% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-120px);
  }

  50% {
    transform: scaleX(-1) translateX(120px);
  }

  95% {
    transform: scaleX(-1) translateX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
@keyframes swimming3 {
  0% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(130px);
  }

  50% {
    transform: scaleX(-1) translateX(-130px);
  }

  95% {
    transform: scaleX(-1) translateX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
@keyframes swimming4 {
  0% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(180px);
  }

  50% {
    transform: scaleX(-1) translateX(-180px);
  }

  95% {
    transform: scaleX(-1) translateX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
/* 블롭피쉬 모달창 애니메이션 */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(16px);
  }
}

/* 심해 모달창 */
.deepseafish-modal-img {
  background: url("../images/Blobfish.png") no-repeat center;
  position: absolute;
  top: 12%;
  right: 1%;
  width: 120px;
  height: 120px;
  z-index: 99;
  background-size: cover;
  cursor: pointer;
  animation: bounce 2s infinite;
}
.deepseafish-modal-txt {
  width: 165px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 22%;
  right: 7%;
  z-index: 999;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.deepseafish-modal-txt p {
  width: 110px;
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  font-weight: 500;
  height: auto;
  margin-left: 5px;
}
.deepseafish-modal-txt i {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 63px;
  right: 15px;
}
.deepseafish-modal-txt i:hover {
  color: rgb(57, 159, 255);
}

/* 심해 타이틀 */
.deepseafish-title {
  position: absolute;
  top: 15%;
  left: 1%;
  font-size: 70px;
  color: #fff;
  font-weight: 500;
  user-select: none;
  text-shadow: 1px 2px 3px rgb(56, 56, 56);
  letter-spacing: -5.5px;
}
.deepseafish-sub-title {
  position: absolute;
  top: 25%;
  left: 1%;
  font-size: 18px;
  color: #ebeaea;
  text-indent: 10px;
  user-select: none;
  text-shadow: 1px 2px 5px rgb(56, 56, 56);
}

/* 마크 */
.deepseafish-mark1 i,
.deepseafish-mark2 i,
.deepseafish-mark3 i,
.deepseafish-mark4 i {
  transition: color 0.3s;
  text-shadow: 0px 2px 5px #026eac94;
}
.deepseafish-mark1 i {
  color: rgb(0, 112, 218);
  transform: scaleX(-1) !important;
  font-size: 37px;
}
.deepseafish-mark2 i {
  color: rgb(22, 141, 253);
  font-size: 47px;
  transform: scaleX(-1) !important;
}
.deepseafish-mark3 i {
  color: rgb(53, 157, 255);
  font-size: 43px;
}
.deepseafish-mark4 i {
  color: rgb(0, 132, 255);
  font-size: 45px;
}
.deepseafish-mark1 {
  position: absolute;
  top: 30%;
  left: 73%;
  animation: swimming1 18s infinite;
  animation-delay: 1s;
  cursor: pointer;
  /* transition: all 2s ease-in-out; */
}
.deepseafish-mark2 {
  position: absolute;
  top: 57%;
  left: 14%;
  animation: swimming2 13s infinite;
  animation-delay: 3s;
  cursor: pointer;
  transition: animation 2s ease-in-out;
}
.deepseafish-mark3 {
  position: absolute;
  top: 68%;
  left: 45%;
  animation: swimming3 13s infinite;
  cursor: pointer;
  transition: animation 2s ease-in-out;
}
.deepseafish-mark4 {
  position: absolute;
  top: 79%;
  left: 84%;
  animation: swimming4 14s infinite;
  animation-delay: 4s;
  cursor: pointer;
  transition: animation 2s ease-in-out;
  z-index: 1;
}
.deepseafish-mark1 i:hover,
.deepseafish-mark2 i:hover,
.deepseafish-mark3 i:hover,
.deepseafish-mark4 i:hover {
  color: rgb(248, 252, 255);
}

/* 마크를 눌렀을 때 나올 내용 */
.deepseafish-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  padding: 1.5%;
  border-radius: 5px;
}
#deepseafish1,
#deepseafish2,
#deepseafish3,
#deepseafish4 {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.deepseafish-content-line {
  border: 1px solid #ffffffab;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  float: right;
  padding: 2.5%;
}

/* 내용 안의 사진 */
#deepseafish1 img,
#deepseafish2 img,
#deepseafish3 img,
#deepseafish4 img {
  width: 100%;
  float: left;
  margin-right: 10%;
  cursor: pointer;
}
.deepseafish-img {
  width: 44%;
  height: 100%;
  float: left;
  margin-right: 4%;
}
.deepseafish-img1 {
}
.deepseafish-img2 {
}
.deepseafish-img3 {
}
.deepseafish-img4 {
}

/* 사진밑 span */
.deepseafish-img-span {
  width: 100%;
  display: block;
  font-size: 11px;
  text-align: center;
  clear: both;
  padding-top: 10px;
  user-select: none;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
}

/* 내용 안의 글자 */
.deepseafish-content-txt {
  width: 50%;
  max-height: 450px;
  padding-right: 2%;
  user-select: none;
  float: left;
  overflow: auto;
  height: 100%;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}
.deepseafish-content-txt::-webkit-scrollbar {
  width: 5px;
  padding: 0;
}
.deepseafish-content-txt::-webkit-scrollbar-track {
  background: #999;
  border-radius: 5px;
}
.deepseafish-content-txt::-webkit-scrollbar-thumb {
  background: rgba(0, 132, 255);
  border-radius: 5px;
}

/* 내용 제목 */
.deepseafish-content-title h2 {
  font-size: 33px;
  margin-bottom: 3%;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
}
.deepseafish-content-title span {
  margin-left: 5px;
  font-size: 23px;
  word-break: normal;
  font-family: "Noto Sans KR", sans-serif;
}

/* 내용 안의 리스트 */
.deepseafish-content-txt ul li {
  margin-bottom: 2%;
}
.deepseafish-content-txt span {
  width: auto;
  display: block;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 0;
  font-family: "Noto Sans KR", sans-serif;
}
.deepseafish-content-txt p {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 200;
  line-height: 1.5;
}

/* 내용 닫기 버튼 */
.deepseafish-content-close1,
.deepseafish-content-close2,
.deepseafish-content-close3,
.deepseafish-content-close4 {
  font-size: 28px;
  font-weight: 100;
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  cursor: pointer;
  z-index: 9999;
}
.deepseafish-content-close1 i:hover,
.deepseafish-content-close2 i:hover,
.deepseafish-content-close3 i:hover,
.deepseafish-content-close4 i:hover {
  color: rgba(0, 132, 255);
}

/* 내용 안의 큰 사진 닫기 버튼 */
.deepseafish-content-close1-1,
.deepseafish-content-close2-1,
.deepseafish-content-close3-1,
.deepseafish-content-close4-1 {
  font-size: 28px;
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  cursor: pointer;
  z-index: 9999;
}
.deepseafish-content-close1-1 i:hover,
.deepseafish-content-close2-1 i:hover,
.deepseafish-content-close3-1 i:hover,
.deepseafish-content-close4-1 i:hover {
  color: rgba(0, 132, 255);
}

/* 내용 안의 사진을 눌렀을 때 나올 큰 사진 */
.deepseafish-img-big1,
.deepseafish-img-big2,
.deepseafish-img-big3,
.deepseafish-img-big4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 700px;
  width: auto;
  height: auto;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 3%;
  border-radius: 5px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition: all 0.2s;
}
.deepseafish-img-big2 {
  width: 40% !important;
}

/* js 용 클래스 */
.deepseafish-show {
  opacity: 1 !important;
  visibility: visible !important;
}

.deepseafish-img-big1::-webkit-scrollbar,
.deepseafish-img-big2::-webkit-scrollbar,
.deepseafish-img-big3::-webkit-scrollbar,
.deepseafish-img-big4::-webkit-scrollbar {
  width: 5px;
}
.deepseafish-img-big1::-webkit-scrollbar-track,
.deepseafish-img-big2::-webkit-scrollbar-track,
.deepseafish-img-big3::-webkit-scrollbar-track,
.deepseafish-img-big4::-webkit-scrollbar-track {
  background: #999;
  border-radius: 5px;
}
.deepseafish-img-big1::-webkit-scrollbar-thumb,
.deepseafish-img-big2::-webkit-scrollbar-thumb,
.deepseafish-img-big3::-webkit-scrollbar-thumb,
.deepseafish-img-big4::-webkit-scrollbar-thumb {
  background: rgba(0, 132, 255);
  border-radius: 5px;
}

@media all and (max-width: 1680px) {
}
@media all and (max-width: 1650px) {
  .deepseafish-title {
    left: 3%;
  }
  .deepseafish-sub-title {
    left: 3%;
  }
}
@media all and (max-width: 1280px) {
  .deepseafish-title {
    left: 5%;
  }
  .deepseafish-sub-title {
    left: 5%;
  }
}
@media all and (max-width: 1235px) and (min-width: 831px) {
  .deepseafish-content-title span {
    display: block;
    margin-top: 1.5%;
  }
}
@media all and (max-width: 1024px) {
  .deepseafish-modal-txt p {
    font-size: 16px;
  }
  .deepseafish-modal-txt i {
    font-size: 20px;
  }
}
@media all and (max-width: 830px) {
  .deepseafish-img {
    width: 100%;
    float: left;
    margin-bottom: 3%;
  }
  #deepseafish1 .deepseafish-content-txt {
    max-height: 180px;
  }
  .deepseafish-img-span {
    display: none;
  }
  .deepseafish-content-txt {
    width: 100%;
    max-height: 200px;
    user-select: none;
    float: left;
    overflow: auto;
    height: 100%;
  }
  .deepseafish-content-txt p {
    font-size: 15px;
    letter-spacing: 0.5px;
  }
  .deepseafish-content-txt span {
    margin-bottom: 0.5%;
    font-size: 16px;
    font-weight: bold;
    margin-right: 0.5%;
  }
  .deepseafish-content-title h2 {
    font-size: 30px;
  }
  .deepseafish-content-title span {
    font-size: 18px;
  }
  .deepseafish-img-big1,
  .deepseafish-img-big2,
  .deepseafish-img-big3,
  .deepseafish-img-big4 {
    display: none;
    visibility: hidden;
  }
}
@media all and (max-width: 760px) {
}
@media all and (max-width: 748px) {
  .deepseafish-title {
    font-size: 50px;
  }
  .deepseafish-sub-title {
    font-size: 16px;
    top: 22%;
  }
}
@media all and (max-width: 550px) {
  .deepseafish-mark1 {
    left: 73%;
  }
}
@media all and (max-width: 480px) {
  .deepseafish-title {
    font-size: 45px;
  }
  .deepseafish-sub-title {
    font-size: 14px;
    top: 21%;
  }
  .deepseafish-mark1 {
    left: 73%;
  }
  .deepseafish-mark2 {
    top: 47%;
    left: 14%;
  }
  .deepseafish-mark3 {
    top: 53%;
    left: 45%;
  }
  .deepseafish-mark4 {
    top: 69%;
    left: 77%;
  }
}
