/* 메인_이벤트 */
.eventfooter {
  position: relative;
  height: 100vh;
  background: url("../images/main5.png") no-repeat;
  background-position-y: 70%;
  background-size: cover;
}
.event .inner {
  height: calc(100vh - 310px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-title {
  width: 100%;
  color: #fff;
  font-size: 2.5rem;
  text-align: left;
  display: block;
  padding: 10px 0px 30px 0px;
}
.swiper {
  width: 100%;
}
.event .swiper-slide {
  width: 100%;
  cursor: pointer;
}
.eventtext {
  position: absolute;
  display: block;
  background-color: rgba(0, 132, 255);
  padding: 10px 25px;
  color: #fff;
  z-index: 99999;
  text-align: center;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
  font-size: 0.8rem;
  font-weight: 700;
}
.event .swiper-slide:hover img {
  filter: brightness(0.4);
  z-index: 99;
  transition: all 0.3s;
}
.event .swiper-slide:hover .eventtext {
  display: flex;
  z-index: 99999;
  transition: all 0.3s;
}
@media all and (max-width: 1680px){
  
}
@media all and (max-width: 1280px){
  
}
@media all and (max-width: 1024px){
  
}
@media all and (max-width: 760px){
  .event-title {
    font-size: 2.2rem;
  }
}
@media all and (max-width: 480px){
  .event-title {
    font-size: 2rem;
  }
}