/* 비주얼 */
.visual {
  position: relative;
  height: 100vh;
  background: url("../images/main_1.png") no-repeat;
  background-position: center center;
  background-size: cover;
  user-select: none;
}
.ararium-title {
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
}
.mainlogo {
  margin-top: 7px;
  display: block;
  font-size: 5.8rem;
  font-weight: 700;
  color: white;
  text-align: center;
  -webkit-box-reflect: below -1.3vw -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.27)));
}
/* 왼쪽 컨텐츠 */
.leftcontent {
  position: absolute;
  bottom: 10%;
  left: 25px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
/* 아라리움 뉴스 */
.animalintro h4 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
  text-shadow: 1px 2px 3px rgb(56, 56, 56);
}
.animalintro p {
  height: 60px;
  font-size: 0.8rem;
  line-height: 1.65;
  padding: 10px 0;
  color: #f0f0f0;
  font-weight: 500;
  text-align: left;
  text-shadow: 1px 2px 3px rgb(56, 56, 56);
}
.swiper {
  width: 450px;
}
.swiper-wrapper {
  width: 450px;
}
.visual .fa-chevron-left,
.visual .fa-chevron-right {
  width: 25px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 2px 3px rgb(56, 56, 56);
  margin-bottom: 30px;
}
/* 동물 소개 */
.animalintro {
  display: flex;
  justify-content: left;
  align-items: center;
}
.animal-intro-text h4 {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  margin-bottom: 13px;
  text-shadow: 1px 1px 1px #333;
}
.animal-intro-text p {
  height: 30px;
  font-size: 0.8rem;
  color: #f0f0f0;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
  text-shadow: 1px 2px 3px rgb(56, 56, 56);
}
.animal-intro-text a {
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.8rem;
  z-index: 9999999;
  font-weight: 700;
  transition: all 0.3s;
}
.animal-intro-text a:hover {
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
}

@media all and (max-width: 1680px) {
.animal-intro-text p {
  color: #f0f0f0;
  font-size: 0.8rem;
  text-shadow: 1px 1px 1px #333;
  font-weight: 500;
  }
}
@media all and (max-width: 1280px) {
  .animal-intro-text h4 {
    font-size: 1.2rem;
  }
  .mainlogo {
    -webkit-box-reflect: below -1.6vw -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.27)));
  }
}
@media all and (max-width: 1024px) {
  .mainlogo {
    -webkit-box-reflect: below -2vw -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.27)));
  }
}
@media all and (max-width: 760px) {
  .ararium-title {
    font-size: 1.2rem;
    top: 40%;
  }
  .mainlogo {
    font-size: 5.5rem;
  }
}
@media all and (max-width: 480px) {
  .mainlogo {
    -webkit-box-reflect: below -3.5vw -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.27)));
  }
}
