/* 비주얼 */
.visual {
  position: relative;
  height: 100vh;
  background: url("../images/17.png") no-repeat;
  background-position: center center;
  background-size: cover;
}
/* 왼쪽 컨텐츠 */
.leftcontent {
  position: absolute;
  top: 19%;
  left: 25px;
  display: flex;
  flex-direction: column;
}
/* 문구 */
.visualtext {
  font-size: 3.8rem;
  font-weight: 900;
  color: rgba(253, 253, 253, 0.925);
  line-height: 1.4;
  margin-bottom: 240px;
  user-select: none;
  text-shadow: 1px 1px 1px #333;
}
.visualtext > span {
  display: block;
  font-size: 3rem;
}
/* 동물 소개 */
.animalintro {
  display: flex;
  justify-content: left;
  align-items: center;
}
.animalintro .gobtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(235, 235, 235, 0.4);
  border: none;
  margin-right: 30px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.95);
}
.animalintro .gobtn .gobtn-innercircle {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.95);
}
.animal-intro-text h4 {
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 13px;
  text-shadow: 1px 1px 1px #333;
}
.animal-intro-text p {
  color: #f0f0f0;
  font-size: 0.75rem;
  text-shadow: 1px 1px 1px #333;
  font-weight: 500;
}
/* 오른쪽 컨텐츠 */
.rightcontent {
  width: 270px;
  height: 100px;
  position: absolute;
  top: 42%;
  right: 25px;
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.2rem;
  text-align: right;
  font-weight: 700;
}
/* 아라리움 뉴스 */
.rightcontent h4 {
  text-align: left;
  text-shadow: 1px 1px 1px #333;
}
.rightcontent p {
  height: 80px;
  font-size: 0.75rem;
  line-height: 1.65;
  padding: 10px 0;
  color: #f0f0f0;
  font-weight: 500;
  text-align: left;
  text-shadow: 1px 1px 1px #333;
}
.swiper {
  width: 100%;
}
.swiper-wrapper {
  width: 100%;
}
.visual .fa-chevron-left,
.visual .fa-chevron-right {
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  text-shadow: 1px 1px 1px #333;
}
@media all and (max-width: 1680px) {
}
@media all and (max-width: 1280px) {
  .visualtext {
    font-size: 3.5rem;
  }
  .visualtext > span {
    font-size: 2.8rem;
  }
  .animal-intro-text h4 {
    font-size: 1.1rem;
  }
  .rightcontent {
    font-size: 1.1rem;
  }
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 760px) {
  .visualtext {
    font-size: 3.3rem;
  }
  .visualtext > span {
    font-size: 2.6rem;
  }
  .animal-intro-text h4 {
    font-size: 0.9rem;
  }
  .rightcontent {
    font-size: 0.9rem;
  }
}
@media all and (max-width: 480px) {
  .visualtext {
    font-size: 3rem;
  }
  .visualtext > span {
    font-size: 2.3rem;
  }
}
