/* 바다동물 소개 */
.marineanimal {
  position: relative;
  height: 100vh;
  background: url("../images/main3-1.jpg") no-repeat;
  background-position: bottom center;
  background-size: cover;
}
/* 마우스클릭시 파동 */
div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #7bd5ee;
  border-radius: 50%;
  animation: clickEffect 0.8s ease-out;
  z-index: 5;
}
@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.3rem;
  }
  100% {
    opacity: 0.1;
    width: 15em;
    height: 15em;
    margin: -7.5em;
    border-width: 0.01rem;
  }
}

.marineanimal::after {
  position: relative;
  display: block;
  background: url("../images/main_marine_etc.png") no-repeat;
  width: 100%;
  height: 100%;
}
.marineanimal .mar_etc img {
  position: absolute;
  right: 0;
  top: -50px;
  z-index: 99999;
}
.marineanimal .marineanimal-box {
  position: relative;
  display: block;
  z-index: 88;
  width: 100%;
  height: 100%;
}
/* 바다소개 타이틀 */
#bb-outer {
  display: block;
  position: absolute;
  top: 15%;
  width: 80%;
  padding: 10px 20px;
  height: fit-content;
}
#bb-outer .bubbles {
  display: inline-block;
  position: relative;
}
#bb-outer .bubbles .bubble {
  position: absolute;
  border-radius: 50%;
  bottom: 5px;
  background: rgba(113, 186, 255, 0.7);
}
#bb-outer .bubbles h2 {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -5.5px;
  text-shadow: 1px 2px 3px rgb(56, 56, 56);
  color: #ffffff;
}
#bb-outer p {
  padding-top: 15px;
  margin-left: 5px;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 1px 2px 5px rgb(56, 56, 56);
}
/* 배경 물고기 이동 */
.fishs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
}
.fishs li {
  width: 35px;
  height: 35px;
  position: relative;
  display: block;
  background-color: #90d6ee;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 30px;
  transform: rotateZ(45deg) scale(0.05);
}
.fishs li:hover {
  cursor: pointer;
  transform: rotateZ(90deg) scale(0.05);
}
.fishs li {
  animation: swing 60s linear 0.1s infinite;
}
.fishs li::after {
  content: "";
  position: absolute;
  border: 10px solid #90d6ee;
  border-top: 0 solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  bottom: -4px;
  left: -4.5px;
  background-color: #90d6ee;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  animation: tail 2s linear 0.1s infinite;
}
.fishs li:nth-of-type(0)::before {
  content: "";
  position: absolute;
  border: 15px solid #90d6ee;
  border-top: 0 solid transparent;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  bottom: 8px;
  left: 0px;
  transform: rotateZ(45deg);
}
.fishs li:nth-of-type(1),
.fishs li:nth-of-type(4) {
  background-color: rgba(255, 255, 255, 0.719);
}
.fishs li:nth-of-type(6),
.fishs li:nth-of-type(8) {
  background-color: rgba(255, 255, 255, 0.411);
}
.fishs li:nth-of-type(5),
.fishs li:nth-of-type(7) {
  background-color: rgba(133, 156, 206, 0.856);
}
.bubbles {
  display: block;
  position: relative;
}
.bubbles::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 30px;
  background-color: #39a0ed;
  animation: bubble 2s linear 2s infinite;
}
.bubbles::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 30px;
  background-color: #39a0ed;
  animation: bubble 3s linear 2s infinite;
}
@keyframes bubble {
  0% {
    opacity: 0;
    transform: translate(30px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0px, -50px);
  }
}
@keyframes tail {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(40deg) rotateZ(45deg);
    border-color: #196096;
  }
  75% {
    transform: rotateX(0deg) rotateY(-40deg) rotateZ(45deg);
    border-color: #196096;
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg);
  }
}
@keyframes swing {
  0% {
    left: 0;
    transform: rotateY(0deg) rotateZ(45deg);
  }
  50% {
    left: 100%;
    transform: rotateY(0deg) rotateZ(45deg);
  }
  100% {
    left: 100%;
    transform: rotateY(180deg) rotateZ(45deg);
  }
}
.jellyfish {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
.jellyfish li {
  width: 35px;
  height: 35px;
  position: relative;
  display: block;
}
.jellyfish li {
  animation: swing2 80s linear 0.1s infinite;
}
.jellyfish li:hover {
  cursor: pointer;
  transform: rotateZ(90deg) scale(0.05);
}

@keyframes swing2 {
  0% {
    right: -100%;
    transform: rotateY(220deg) rotateZ(45deg);
  }
  50% {
    right: 100%;
    transform: rotateY(45deg) rotateZ(0deg);
  }
  100% {
    right: 100%;
    transform: rotateY(45deg) rotateZ(0deg);
  }
}

/* 매너티 */
.marineanimal .marineanimal-box .ani1 {
  position: absolute;
  top: 20%;
  left: 0%;
  display: none;
  z-index: 9000;
  transform: translate(2s);
  width: 500px;
  height: 300px;
}
/* ///전갱이/// */
.marineanimal .marineanimal-box .ani2 {
  position: absolute;
  top: 70%;
  left: 0%;
  display: none;
  z-index: 9000;
  transform: translate(2s);
  width: 500px;
  height: 300px;
}
/* 거북이 */
.marineanimal .marineanimal-box .ani3 {
  position: absolute;
  top: 45%;
  right: 15%;
  display: none;
  z-index: 9000;
  transform: translate(2s);
}
/* 흑가오리 */
.marineanimal .marineanimal-box .ani4 {
  position: absolute;
  top: 10%;
  right: 0%;
  display: none;
  z-index: 1500;
}
/* 바다동물 소개박스 */
#marineanimal-x {
  display: block;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  padding-right: 10px;
  padding-top: 10px;
  cursor: pointer;
  float: right;
  z-index: 99999;
  position: relative;
}
#marineanimal-x:hover {
  color: #0f97e7;
}
.marineanimal-ex {
  position: absolute;
  display: block;
  width: 600px;
  height: 600px;
  background: #111845a6;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  padding: 20px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}
.marineanimal-ex::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  pointer-events: none;
}
.marineanimal-ex:hover:before {
  left: -50%;
  transform: skewX(-5deg);
}
.marineanimal-in {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid #f0a591;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
}
.marineanimal-ex > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}
.marineanimal-ex > span:nth-child(1) {
  transform: rotate(0deg);
}
.marineanimal-ex > span:nth-child(2) {
  transform: rotate(90deg);
}
.marineanimal-ex > span:nth-child(3) {
  transform: rotate(180deg);
}
.marineanimal-ex > span:nth-child(4) {
  transform: rotate(270deg);
}
.marineanimal-ex > span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
.marineanimal-ex .marineanimal-in .marineanimal-title {
  position: relative;
  height: 10%;
}
.marineanimal-title h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 33px;
  color: #0f97e7;
  display: block;

  user-select: none;
  padding-bottom: 5px;
}

.marineanimal-title span {
  font-size: 18px;
  color: #90d6ee;
  user-select: none;
  padding-bottom: 10px;
}
.marineanimal-ex .marineanimal-in .marineanimal-txt {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.marineanimal-ex .marineanimal-in .marineanimal-txt li {
  padding: 10px 0;
  color: #fff;
  font-size: 19px;
}
.marineanimal-ex .marineanimal-in .marineanimal-txt li > span {
  padding: 5px 0;
  display: block;
  font-weight: 500;
}
.marineanimal-ex .marineanimal-in .marineanimal-txt li > p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 200;
  letter-spacing: 0.5px;
}
/* dot  */
.marineanimal .marineanimal-box .dot {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
/* dot 위치작업 */
.marineanimal .marineanimal-box .dot_1,
.marineanimal .marineanimal-box .dot_2,
.marineanimal .marineanimal-box .dot_3,
.marineanimal .marineanimal-box .dot_4 {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}
.marineanimal .marineanimal-box .dot_1 {
  position: absolute;
  top: 40%;
  left: 25%;
}
.marineanimal .marineanimal-box .dot_2 {
  position: absolute;
  top: 75%;
  left: 35%;
  background-color: #66f2d4;
}
.marineanimal .marineanimal-box .dot_3 {
  position: absolute;
  top: 60%;
  right: 30%;
}
.marineanimal .marineanimal-box .dot_4 {
  position: absolute;
  top: 30%;
  right: 25%;
  background-color: rgba(61, 139, 255, 0.4);
}
/* dot 효과 */
.marineanimal .marineanimal-box .dot_1::before,
.marineanimal .marineanimal-box .dot_1::after,
.marineanimal .marineanimal-box .dot_2::before,
.marineanimal .marineanimal-box .dot_2::after,
.marineanimal .marineanimal-box .dot_3::before,
.marineanimal .marineanimal-box .dot_3::after,
.marineanimal .marineanimal-box .dot_4::before,
.marineanimal .marineanimal-box .dot_4::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 50px;
  height: 50px;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 50%;
  animation: wave 3s infinite linear;
}
.marineanimal .marineanimal-box .dot_2::before,
.marineanimal .marineanimal-box .dot_2::after,
.marineanimal .marineanimal-box .dot_4::before,
.marineanimal .marineanimal-box .dot_4::after {
  background-color: #66f2d4;
}

.marineanimal .marineanimal-box .dot_1::after,
.marineanimal .marineanimal-box .dot_2::after,
.marineanimal .marineanimal-box .dot_3::after,
.marineanimal .marineanimal-box .dot_4::after {
  opacity: 0;
  animation: wave 3s 1.5s infinite linear;
}
@keyframes wave {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
@media all and (max-width: 1680px) {
  .marineanimal-in {
    z-index: 9999;
  }
  /* 흑가오리 */
  .marineanimal .marineanimal-box .ani4 {
    width: 300px;
    right: 15%;
    transform: translateX(25%);
    top: 30%;
    transition: translate 0.5s;
  }
}
@media all and (max-width: 1280px) {
  /* 스크롤바 생성 */
  .marineanimal-txt ul::-webkit-scrollbar {
    width: 5px;
    padding: 0;
  }
  .marineanimal-txt ul::-webkit-scrollbar-track {
    background: #999;
    border-radius: 5px;
  }
  .marineanimal-txt ul::-webkit-scrollbar-thumb {
    background: rgba(0, 132, 255);
    border-radius: 5px;
  }
  #bb-outer p {
    padding-top: 15px;
  }
  /* 동물소개창 */
  .marineanimal-ex {
    width: 500px;
    height: 500px;
  }
  .marineanimal-title {
    padding-top: 157px;
  }
  .marineanimal-title h2 {
    font-size: 30px;
  }
  .marineanimal-title h2 span {
    font-size: 0.7em;
  }
  .marineanimal-ex .marineanimal-in .marineanimal-txt {
    z-index: 2000;
  }
  .marineanimal-ex .marineanimal-in .marineanimal-txt ul {
    margin-top: 65px;
    height: 45%;
    overflow-y: auto;
  }
  .marineanimal-ex .marineanimal-in .marineanimal-txt li {
    font-size: 15px;
    padding: 12px 0;
  }
  /* 매너티 */
  .marineanimal .marineanimal-box .ani1 {
    top: 30%;
    left: 40%;
    transform: translateX(-50%);
    transition: translate 0.5s;
    width: 400px;
    height: 300px;
  }
  /* 거북이 */
  .marineanimal .marineanimal-box .ani3 {
    top: 33%;
    right: 25%;
    z-index: 1000;
    transform: translate(2s);
    width: 280px;
    height: 200px;
  }
  /* ///전갱이 */
  .marineanimal .marineanimal-box .ani2 {
    top: 65%;
    left: 10%;
    width: 400px;
    height: 250px;
  }
  /* 흑가오리 */
  .marineanimal .marineanimal-box .ani4 {
    right: 35%;
    transform: translateX(25%);
    width: 250px;
    height: 300px;
    top: 30%;
  }
  #marineanimal-ex2 .marineanimal-title {
    padding-top: 10%;
  }
}
@media all and (max-width: 1024px) {
  .marineanimal .marineanimal-box .dot_1 {
    top: 45%;
  }
  .marineanimal .marineanimal-box .dot_2 {
    top: 82%;
    left: 20%;
  }
  .marineanimal .marineanimal-box .dot_3 {
    top: 70%;
    right: 35%;
  }
  .marineanimal .marineanimal-box .dot_4 {
    top: 40%;
    right: 20%;
  }
}
@media all and (max-width: 760px) {
  /* 동물소개창 */
  .marineanimal-ex {
    width: 400px;
    height: 600px;
  }
  .marineanimal-title {
    padding-top: 193px;
  }
  .marineanimal-title h2 {
    font-size: 25px;
  }
  .marineanimal-title span {
    font-size: 16px;
  }
  .marineanimal .marineanimal-box .ani1 {
    width: 300px;
    height: 200px;
  }
  #bb-outer .bubbles h2 {
    font-size: 60px;
  }
  #bb-outer p {
    font-size: 16px;
    padding-top: 10px;
  }
  /* 매너티 */
  .marineanimal .marineanimal-box .ani1 {
    width: 350px;
    height: 300px;
  }
  /* 거북이 */
  .marineanimal .marineanimal-box .ani3 {
    top: 28%;
    right: 30%;
    transform: translateX(20%);
    width: 230px;
    height: 180px;
  }
  /* ///전갱이 */
  .marineanimal .marineanimal-box .ani2 {
    top: 70%;
    left: 3%;
    width: 350px;
    height: 200px;
  }
  /* 흑가오리 */
  .marineanimal .marineanimal-box .ani4 {
    right: 30%;
    width: 200px;
    height: 250px;
  }
}
@media all and (max-width: 480px) {
  #bb-outer .bubbles h2 {
    font-size: 50px;
  }
  #bb-outer p {
    font-size: 13px;
  }
  /* 매너티 */
  .marineanimal .marineanimal-box .ani1 {
    width: 258px;
    height: 163px;
  }
  /* 거북이 */
  .marineanimal .marineanimal-box .ani3 {
    top: 28%;
    right: 30%;
    transform: translateX(30%);
    z-index: 1000;
    width: 230px;
    height: 180px;
  }
  /* ///전갱이 */
  .marineanimal .marineanimal-box .ani2 {
    width: 300px;
    height: 200px;
  }
  /* 흑가오리 */
  .marineanimal .marineanimal-box .ani4 {
    transform: translateX(25%);
    width: 200px;
    height: 250px;
  }
}
