/* 비주얼 */
.visual {
  position: relative;
  height: 100vh;
  background: url("../images/main_1.png") no-repeat;
  background-position: center center;
  background-size: cover;
}
.ararium-title {
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  top: 40%;
  font-weight: 500;
}
.mainlogo {
  margin-top: 7px;
  display: block;
  font-size: 5.8rem;
  font-weight: 700;
  color: white;
  text-align: center;
  -webkit-box-reflect: below -1.1vw -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.27)));

  /* background-image: url("../images/textinner.png");
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent; */
}
/* 왼쪽 컨텐츠 */
.leftcontent {
  position: absolute;
  bottom: 10%;
  left: 25px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
/* 아라리움 뉴스 */
.animalintro h4 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
  text-shadow: 1px 2px 3px rgb(56, 56, 56);
}
.animalintro p {
  height: 60px;
  font-size: 0.8rem;
  line-height: 1.65;
  padding: 10px 0;
  color: #f0f0f0;
  font-weight: 500;
  text-align: left;
  text-shadow: 1px 2px 3px rgb(56, 56, 56);
}
.swiper {
  width: 450px;
}
.swiper-wrapper {
  width: 450px;
}
.visual .fa-chevron-left,
.visual .fa-chevron-right {
  width: 25px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 2px 3px rgb(56, 56, 56);
  margin-bottom: 30px;
}
/* 동물 소개 */
.animalintro {
  display: flex;
  justify-content: left;
  align-items: center;
}
.animal-intro-text h4 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 13px;
  text-shadow: 1px 1px 1px #333;
}
.animal-intro-text p {
  color: #f0f0f0;
  font-size: 0.8rem;
  text-shadow: 1px 1px 1px #333;
  font-weight: 500;
}
@media all and (max-width: 1680px){
  
}
@media all and (max-width: 1280px){
  .visualtext {
    font-size: 3.5rem;
  }
  .visualtext > span {
    font-size: 2.8rem;
  }
  .animal-intro-text h4 {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 1024px){
  
}
@media all and (max-width: 760px){
  .visualtext {
    font-size: 3.3rem;
  }
  .visualtext > span {
    font-size: 2.6rem;
  }
  .animal-intro-text h4 {
    font-size: 0.9rem;
  }
}
@media all and (max-width: 480px){
  .visualtext {
    font-size: 3rem;
  }
  .visualtext > span {
    font-size: 2.3rem;
  }
}