@charset "utf-8";

@import url("font.css");
@import url("base.css");
@import url("common.css");

.fixedmenu {
  position: absolute;
  z-index: 99999;
}
.fixedmenu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 5px; */
  width: 60px;
  height: 100px;
  position: fixed;
  bottom: 150px;
  right: 0px;
  font-weight: 700;
  border-right: none;
  color: rgba(255, 255, 255, 0.97);
  background-color: rgba(0, 0, 0, 0.7);
}
.fixedmenu a.active {
  color: rgba(255, 255, 255, 0.97);
  background-color: rgba(255, 255, 255, 0.3);
}
.fixedmenu a i {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.fixedmenu a span {
  font-weight: 500;
}
@media all and (max-width: 1680px){
  
}
@media all and (max-width: 1280px){

}
@media all and (max-width: 1024px){
  
}
@media all and (max-width: 760px){
  
}
@media all and (max-width: 480px){
  
}