/* 하단 */
.footer {
  position: absolute;
  left: 0;
  /* bottom: 0; */
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  height: 195px;
  z-index: 99999;
  /* background-color: #fff; */
}
.footer .inner {
  position: relative;
  width: 100%;
  padding: 15px 25px;
  margin: 0 auto;
  max-width: 1600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0 20px 0;
}
.btn-section button {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: 400ms;
  animation: zoom 500ms ease;
}
.btn-section button i {
  position: absolute;
  font-size: 1.5em;
  transition: 400ms;
}
.btn-section .btn-tw {
  /* background-color: #e5f4fdbb; */
  background-color: rgba(255, 255, 255, 0.8);
  color: #1da1f2;
}
.btn-section .btn-fb {
  /* background-color: #ecf0f8bb; */
  background-color: rgba(255, 255, 255, 0.8);
  color: #3b5998;
}
.btn-section .btn-ig {
  /* background-color: #f4ecf9bb; */
  background-color: rgba(255, 255, 255, 0.8);
  color: #833ab4;
}
.btn-section .first-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.btn-section .second-logo {
  position: absolute;
  top: calc(50% + 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.btn-section button:hover .first-logo {
  position: absolute;
  top: -30px;
  opacity: 0;
}
.btn-section button:hover .second-logo {
  top: 50%;
  opacity: 1;
}
.btn-section button:active {
  background-color: #ffffff00;
}
.copyright {
  position: relative;
  text-align: center;
  color: #acacac;
  font-size: 0.9em;
}
.copyright ul li {
  position: relative;
  display: inline-block;
}
.copyright ul li:first-child {
  display: block;
  margin-bottom: 20px;
}
.topbtn {
  position: absolute;
  bottom: 70px;
  right: 130px;
  width: 50px;
  height: 50px;
  background-color: #c4c4c4;
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 50%;
}
@media all and (max-width: 1680px){
  
}
@media all and (max-width: 1280px){
  .topbtn {
    right: 70px;
  }
}
@media all and (max-width: 1024px){
  .topbtn {
    right: 60px;
  }
}
@media all and (max-width: 760px){
  .copyright ul li {
    margin-bottom: 5px;
  }
  .copyright ul li:nth-child(2n) {
    display: block;
    margin-bottom: 7px;
  }
  .line {
    display: none;
  }
  .topbtn {
    right: 40px;
    bottom: 90px;
  }
}
@media all and (max-width: 480px){
  
}